doctype html
html(lang="en")
	include ./partials/_head.pug
	body
		.circle--header
			.bounds
				.circle--fluid
					.circle--fluid--cell
						a.button.button-primary(href='/') home					
					.circle--fluid--cell.align-right
						h3= thisMessage
		a(href='/')
			.bounds.app--body(style='background: no-repeat center url(' + thisImage + ')')
			