doctype html
html(lang="en")
	include ./partials/_head.pug
	body
		include ./partials/_nav.pug
		block content
		script(src='http://code.jquery.com/jquery-3.1.1.min.js')
		script(src='/static/js/app.js')